 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 811px;
}

.u-section-1 .u-image-1 {
  width: 524px;
  height: 256px;
  margin: 35px auto 0;
}

.u-section-1 .u-table-1 {
  width: 581px;
  margin: 45px auto 60px;
}

.u-block-ba93-11 {
  height: 46px;
}

.u-block-ba93-26 {
  height: 46px;
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 166px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}